body {
    background-color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media screen and (min-width: 1024px) {
    body {  
        padding: 0 20%;
    }
}



.main {
    display: flex;
}

.personal-data {
    background-color: rgb(245, 212, 199);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-data {
    background-color: white;
    margin-left: 1px;
}

.info {
    padding: 15px;
}

.personal-photo {

    position: relative;
    border-radius: 150px;
    border: 10px solid rgb(41, 39, 48);
    width: 200px;
    height:200px;
    left: 5%;
    background-image:url("../images/profile.jpeg");
    background-size:cover;
    background-color: transparent;
    background-position: center;
}

.titles {
    background-color: rgb(41, 39, 48);
    color: white;
    padding: 5px;
    font-size:14pt;
}

.personal-text {
    padding: 15px;
    text-align: justify;
}

.name-text {

    background-color:rgb(41, 39, 48);
    color: rgb(236, 227, 238);
    padding: 20px 10px;
    text-align: center;
    
}

.name-text h1 {
    margin: 0;
}

.name-text a {
    
    color: white;
    font-style: italic;
}

.name-company {
    font-weight: 700;
}

.company-title {
    font-weight:400;
    font-style: italic;
    color: gray;
}

.job-description {
    text-align: justify;
}

@media print {

    .personal-photo {
 
     width: 175px;
     height: 175px;
     
    }
 }